.useofcarbody {
  /* border: 1px solid black; */
  font-weight: bold;
  min-width: 400px;
  margin-top: -30px;
  margin-left: -80px;
}

.personalcardiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 40px auto;
  height: 60px;
  background-color: #f4f7fe;
  border-radius: 14px;
  text-decoration: none !important;
  cursor: pointer;
}

.handcardiv {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1100px) {
  .useofcarbody {
    width: 300px;
  }
}

.usefor {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}

.linkstyle {
  text-decoration: none;
  color: black;
}

.peruse {
  line-height: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.numplate {
  line-height: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgb(138, 144, 159);
}

.insured {
  font-size: "14px";
  font-weight: normal;
}
