* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payment-page-wrapper {
  width: 70%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}
/* temp payment css */
.stripe-payment-wrapper {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
